spool /home/kali/audit-orc-vapt/pt-orc/scripts/evidence/Mithila-TEST-WEB-Jun2026-Orc/_msf/export_tls_20260610_163448.log
workspace -a Mithila-TEST-WEB-Jun2026-Orc
hosts    -o /home/kali/audit-orc-vapt/pt-orc/scripts/evidence/Mithila-TEST-WEB-Jun2026-Orc/_exports/hosts_tls_20260610_163448.csv
services -o /home/kali/audit-orc-vapt/pt-orc/scripts/evidence/Mithila-TEST-WEB-Jun2026-Orc/_exports/services_tls_20260610_163448.csv
notes    -o /home/kali/audit-orc-vapt/pt-orc/scripts/evidence/Mithila-TEST-WEB-Jun2026-Orc/_exports/notes_tls_20260610_163448.csv
spool off
exit
